.one {
    background-color:#1F2937;
    
    
}
.header {
    background-color:#1F2937;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-left:250px;
    padding-right:270px;
}
a:link {
    color:white
    
}
a:visited {
    color:#dad
    
}
a:hover {
    color:skyblue
}

.links {
    display:flex;
    gap:40px;
    font-size:20px
}
.image {
    padding:2px;
}
.two {
     background-color:white;
}
.three {
    background-color:rgb(201, 200, 200);
    text-align:center;
}
.five {
    background-color:#1F2937;
    font-size:12px;
    text-align: center;
    align-content:center;
    color:whitesmoke;
    height: 60px;
    margin:0px;
    
}