.one {
    background-color:#1F2937;
    margin: 0px;
    padding:20px;    
    
}
.header {
    background-color:#1F2937;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-left:250px;
    padding-right:270px;
}
a:link {
    color:white
    
}
a:visited {
    color:#dad
    
}
a:hover {
    color:skyblue
}

.links {
    display:flex;
    gap:40px;
    font-size:18px;
    color: #E5E7EB;
    font-family: Roboto;
}
.image {
    display: block;
    padding:2px;
}
.twoimage {
     background-color:white;
     display:flex;
     gap:85px;
     justify-content: center;
     padding:20px;
     
}
.twotext {
    background-color:white;
    display:block;
    font-size:36px;
    color:#1F2937;
    weight:900;
    text-align: center;
    text-decoration:underline 
}
.three {
    background-color:#E5E7EB;
    text-align:center;
    font-size: 36px;
    color:#1F2937;

}
.five {
    background-color:#1F2937;
    font-size:12px;
    text-align: center;
    align-content:center;
    color:whitesmoke;
    height: 60px;
    margin:0px;
    
}
.animals {
    border: 4px ridge black;
}
.text1 {
    font-size: 48px;
    color:#F9FAF8;
    weight: 900
}
.text2 {
    font-size:18px;
    color: #E5E7EB
}
